{% extends 'base.html' %} {% block content %}
<div class="container-md col-md-4">
  <h1 class="display-1 text-center">Create an account</h1>
  <form class="d-flex flex-column" action="" method="POST">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden' %} {{field.label}}{{field(class_="form-control my-2")}} {% for err
    in field.errors %}
    <span>{{err}}</span>
    {% endfor %} {% endfor %}
    <button class="btn btn-success">Submit</button>
  </form>
</div>
{% endblock %}
